################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Home'sTecnology.QuickBuy/DesignTimeBuild/.dtbcache
